<%= nested_form_for(@recette) do |f| %>
<h3>Modification de la recette : <%= @recette.titre %></h3>
<%= link_to 'Retour', recettes_path, :class=>"btn" %>
<%= link_to 'Voir la recette', @recette, :class=>"btn btn-info"%>
<%= f.submit "Sauvegarder les changements", :class=>"btn btn-success" %>
<div class="row">
  <span class="span2">
     <%= image_tag @recette.photo.url(:medium), :class => "img_preview" , :id => "img_preview"%>
  </span>
  <span class="span10">
    <p>
      <span class="span2">Titre : </span>
      <%= f.text_field :titre, :placeholder => "Titre de votre recette", :class => "span8" %>
  </p>
    <p>
      <span class="span2">Description : </span>
        <%= f.text_area :description, :placeholder => "Courte description de la recette", :class => "span8", :rows=>5 %>
    </p>
    <p>
      <span class="span2">Changer l'image : </span>
        <%= f.file_field :photo , :class=> "btn-inverse upload"%> 
    </p>
  </span>
</div>

<div class="row">
  <div class="span6">
    <%= f.label @recette.errors.messages[:etapes][0], class:"alert" if not @recette.errors.messages[:etapes].nil? %> 
    <h3>Les étapes de préparations 

      <%= f.link_to_add '<i class="icon-plus" > </i> '.html_safe, :etapes, :target_id => "#etapes", :class=>"btn btn-info espace insert_in_table" %>
    </h3>
      <table id="etapes" class="table table-striped">
        <tbody>
    <%= f.fields_for :etapes, :wrapper => false do |etape| -%>
      <tr class="fields">
        <td>
          <%= etape.hidden_field :id %>
          <%= etape.text_area :description, :placeholder => 'Description de l\'étape', :class => 'etape', :rows=>1 ,  onkeyup:"autoSize(this, event);" %>
          <%= etape.link_to_remove '<i class="icon-trash" > </i> '.html_safe, :class=>"btn btn-danger"%>
        </td>
      </tr>
    <% end %>
      </tbody>
      </table>
  </div>
  <div class="span6">
    <%= f.label @recette.errors.messages[:etapes][0], class:"alert" if not @recette.errors.messages[:etapes].nil? %> 
    <h3>Ingrédients 

      <%= f.link_to_add '<i class="icon-plus" > </i> '.html_safe, :ingredient_recettes, :target_id => "#ingredients", :class=>"btn btn-info espace insert_in_table" %>
    </h3>
      <table id="ingredients" class="table table-striped">
        <tbody>
    <%= f.fields_for :ingredient_recettes, :wrapper => false do |ingredient| -%>
      <tr class="fields">
        <td>
          <%= ingredient.hidden_field :id %>
          <%= ingredient.text_field :nom, :placeholder => 'Nom', :autocomplete => "off", :onkeyup=> 'recherchable(this,this.value)', :class => 'autocomplete' %>
        </td>
        <td class="fix_for_small_screen">
          <%= ingredient.text_field :quantite, :class => 'span1' %>
          <%= ingredient.select :unite_de_mesure, Ingredient::UNITE_DE_MESURE, {}, :class => "span2"  %>
          <%= ingredient.link_to_remove '<i class="icon-trash" > </i> '.html_safe, :class=>"btn btn-danger" %>
        </td>
      </tr>
    <% end %>
      </tbody>
      </table>
  </div>
</div>
<% end %>
 
