<table class="table table-stripped">
  <tr>
    <th>Votes</th>
    <th>Image</th>
    <th>Titre</th>
    <th>Description</th>
  </tr>
  <% recettes.each do |recette| %>
  <tr>
      <td>
        <i class="icon-thumbs-up"> </i><%= recette.likes.count %>
        <br />
        <i class="icon-thumbs-down"> </i><%= recette.dislikes.count %>
      </td>
      <td><a href="/recettes/<%= recette.id %>"> <%= image_tag recette.photo.url(:small), :class => "img_small thumbnail" %></a></td>
      <td><b><%= link_to recette.titre, recette %></b></td>
      <td><%= recette.description %></td>
    </tr>
   <% end %>
</table>
