<table class="table">
  <tr>
    <th>Image</th>
    <th>Titre</th>
    <th>Recettes</th>
    <th></th>
  </tr>
<% @recettes.each do |recette| %>
  <tr>
    <td><%= image_tag recette.photo.url(:small), :class => "img_preview" %></td>
    <td><b><%= recette.titre %></b></td>
    <td><%= recette.description %></td>
    <td><%= link_to 'Voir', recette , :class=>"btn btn-inverse" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle Recette', new_recette_path, :class=>"btn btn-primary" %>