<h1>Liste des recettes</h1>
<%= nested_form_for "/recettes",  :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= select_tag :Recherche, options_for_select(IngredientRecette::UNITE_DE_RECHERCHE), :class => "input-medium"  %>
    <%= submit_tag "Search", :class=>"btn btn-inverse espace" %>
  </p>
<% end %>
<table class="table">
  <tr>
    <th>Image</th>
    <th>Titre</th>
    <th></th>
    <th></th>
  </tr>
<% @recettes.each do |recette| %>
  <tr>
    <td><%= image_tag recette.photo.url(:small), :class => "img_preview" %></td>
    <td><b><%= recette.titre %></b></td>
    <td class="option"><%= link_to 'Modifier', edit_recette_path(recette) , :class=>"btn btn-inverse" %></td>
    <td class="option"><%= link_to 'Supprimer', recette, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-inverse" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle Recette', new_recette_path, :class=>"btn btn-inverse" %>
