<h1>Liste des recettes</h1>

<table>
  <tr>
    <th width="200">Titre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recettes.each do |recette| %>
  <tr>
    <td><b><%= recette.titre %></b></td>
    <td class="option"><%= link_to 'Show', recette %></td>
    <td class="option"><%= link_to 'Edit', edit_recette_path(recette) %></td>
    <td class="option"><%= link_to 'Destroy', recette, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle Recette', new_recette_path, :class=>"btn btn-primary" %>
