<div class="row">
  <span class="span2">
    <%= image_tag @recette.photo.url(:medium) %>
    <a href="/vote_up/<%= @recette.id %>" class="btn <%= "btn-info" if current_user.voted_up_on? @recette %>">
    <i class="icon-thumbs-up"> </i><%= @recette.likes.count %>
  </a>
  <a href="/vote_down/<%= @recette.id %>" class="btn <%= "btn-info" if current_user.voted_down_on? @recette %>">
    <i class="icon-thumbs-down"> </i><%= @recette.dislikes.count %>
  </a>
  </span>
  <span class="span10">
    <h1><%= @recette.titre.titleize %></h1>
    <%= @recette.description %>
  </span>
</div>

<div class="row">
  <div class="span8">
    <h3>Prépararion</h3>
    <%= @recette.preparation %>
  </div>
  <div class="span4">
    <h3>Ingrédients</h3>
    <hr />
      <table class="table table-striped">
    <% @recette.ingredient_recettes.each do |ingredient| %>
      <tr>
        <td>
          <%= ingredient.nom %>
        </td>
        <td>
          <%= ingredient.quantite %> x <%= ingredient.unite_de_mesure %>
      </tr>
    <% end %>
      </table>
  </div>
</div>
<br />
<hr />
<%= link_to 'Modifier', edit_recette_path(@recette), :class=>"btn btn-info"%>
<%= link_to 'Retour', recettes_path, :class=>"btn"%>
