<%= link_to 'Retour', recettes_path, :class=>"btn"%>
<% if @recette.if_recette_belong_to(current_user.id) %>
    <%= link_to 'Modifier', edit_recette_path(@recette), :class=>"btn btn-info"%>
<% end %>
<a href="/vote_up/<%= @recette.id %>" class="btn <%= "btn-info" if current_user.voted_up_on? @recette %>">
  <i class="icon-thumbs-up"> </i><%= @recette.likes.count %>
</a>
<a href="/vote_down/<%= @recette.id %>" class="btn <%= "btn-info" if current_user.voted_down_on? @recette %>">
  <i class="icon-thumbs-down"> </i><%= @recette.dislikes.count %>
</a>

<div class="row">
  <h1><span><%= @recette.titre.titleize %></span> de <span><%= @recette.getUser() %></span></h1>
  <span class="span2">
    <%= image_tag @recette.photo.url(:medium), :class => "img_preview" %>
  </span>
  <span class="span10">
    <%= @recette.description %>
  </span>
</div>
<div class="row">
  <div class="span8">
    <h3>Préparation</h3>
    <table class="table table-striped">
    <% @recette.etapes.each do |etape| %>
      <tr>
        <td>
          <%= etape.description %>
        </td>
      </tr>
    <% end %>
      </table>
  </div>
  <div class="span4">
    <h3>Ingrédients</h3>
      <table class="table table-striped">
    <% @recette.ingredient_recettes.each do |ingredient| %>
      <tr>
        <td>
          <%= ingredient.nom %>
        </td>
        <td>
          <%= ingredient.quantite %> x <%= ingredient.unite_de_mesure %>
        </td>
      </tr>
    <% end %>
      </table>
  </div>
</div>

<h3>Commentaires</h3>
<form action="/comment/<%= @recette.id %>" >
  <div><%=text_area_tag 'body', nil, :size => "10x2", :class =>"span12" %></div>
  <div><%=submit_tag "Commenter", :class=>"btn btn-info" %></div>
</form>
<table class="table table-striped">
  <% @recette.root_comments.find(:all, order: "created_at DESC").each do |commentaire| %>
     <tr>
        <td class="span2">
         <span class="user_comment"> <%= User.find(commentaire.user_id).name %> </span>
        </td>
        <td class="span10">
          <%= commentaire.body %>
      </tr>
  <% end %>
</table>
</div>

