
  <tr>
    <td><%= best_in_place ingredient, :nom %></td>
    <td><%= best_in_place ingredient, :categorie %></td>
    <td><%= best_in_place ingredient, :prix %></td>
    <td><%= best_in_place ingredient, :portion %></td>
    <td><%= best_in_place ingredient, :glucide %></td>
    <td><%= best_in_place ingredient, :proteine %></td>
  </tr>
   <tbody>  
