<h1>Liste des ingrédients</h1>



<%= link_to 'Nouveau ingredient', new_ingredient_path, :class=>"btn btn-info pull-right" %>
<div class="input-append">
<%= form_for :recherche, url: "ingredients", method: "get" do |f| %>
  <%= f.search_field "requete", class: "", placeholder: "Trouvez une recette" %>
  <%= f.submit class: "btn btn-info", type: "submit", value: "Rechercher" %>
<% end %>
</div>
<table class="table table-striped" id="table1">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      <th>Glucide</th>
      <th>Proteine</th>
    </tr>
  </thead> 
  <tbody>  
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.nom %></td>
        <td><%= ingredient.prix %></td>
        <td><%= ingredient.glucide %></td>
        <td><%= ingredient.proteine %></td>
        <td><%= link_to 'Editer', edit_ingredient_path(ingredient), :class=>"btn btn-inverse" %></td>
      </tr>
    </tbody>  
  <% end %>
</table>
 

