<!DOCTYPE html>
<html>
  <head>
    <title>Recettes</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <%= link_to "Recettes", root_path,:class=>"brand" %>
        <ul class="nav">
          <li class="active"><%= link_to "home", root_path %></li>
          <li><%= link_to "liste de recettes", recettes_path %></li>
          <!-- <li><%#= link_to "", ""%></li> -->
        </ul>
        <% if session[:user_id]  %>
        <div class="btn-group pull-right">
          <a class="btn disabled" href="#">
            <i class="icon-user icon-white"></i> User
          </a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><span href="#"><i class="icon-pencil"></i> Edit</span></li>
            <li><a href="#"><i class="icon-list-alt"></i> Nouvelle recette</a></li>
            <li><a href="<%= signout_path %>"><i class="icon-remove"></i>Se déconnecter</a></li>
          </ul>
        </div>
        <% end %>

      </div>
    </div>

    <div class="container">

      <%= flash_message %>

      <%= yield %>
    </div>

  </body>
</html>
