<!DOCTYPE html>
<html>
  <head>
    <title>Recettes</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <%= link_to "Recettes", root_path,:class=>"brand" %>
        <ul class="nav">
          <li class="active"><%= link_to "home", root_path %></li>
          <li><%= link_to "liste de recettes", recettes_path %></li>
          <!-- <li><%#= link_to "", ""%></li> --!>
        </ul>
      </div>
    </div>

    <div class="container">

      <%= flash_message %>

      <%= yield %>
    </div>

  </body>
</html>
