<!DOCTYPE html>
<html>
  <head>
    <title>Recettes</title>

    <%= render 'layouts/stylesheets' %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <%= link_to "Recettes", root_path,:class=>"brand" %>
        <ul class="nav">
          <li class="active"><%= link_to "home", root_path %></li>
          <li><%= link_to "liste de recettes", recettes_path %></li>
          <!-- <li><%#= link_to "", ""%></li> -->
        </ul>
        <div class="pull-right">

          <div id="search-menu" class="btn-group dropdown">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="icon-search"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <ul class="nav nav-pill">
                  <li>
                    <button href="#" class="btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Options de recherches" data-hidden="#plus-options">
                      <span class="icon-plus" data-hidden="#plus-options"></span>
                    </button>
                  </li>
                  <li>
                    <button href="#" class="btn disabled" data-toggle="tooltip" data-placement="top" title="" data-original-title="Aide vis à vis la recherche">
                      <span class="icon-question-sign"></span>
                    </button>
                  </li>
                </ul>
              </li>
              <li>
                <form class="form-search">
                  <span class="icon-search"></span>
                  <input type="text" class="input-medium search-query">
                  <button type="submit" class="btn disabled"><span class="icon-arrow-right"></span></button>
                </form>
              </li>
              <li>
                <form id="plus-options">
                  <label class="checkbox">
                    <input type="checkbox" id="inlineCheckbox1" value="1">
                    Sans Gluten
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" id="inlineCheckbox1" value="2">
                    Sans Lactose
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" id="inlineCheckbox1" value="3">
                    Sans Noix
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" id="inlineCheckbox1" value="4">
                    Cachère
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" id="inlineCheckbox1" value="5">
                    Congelable
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" id="inlineCheckbox1" value="6">
                    Végétarien
                  </label>
                </form>
              </li>
            </ul>
          </div>

          <% if session[:user_id]  %>
          <div class="btn-group">
            <a class="btn disabled" href="#">
              <i class="icon-user icon-white"></i> User
            </a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><span href="#"><i class="icon-pencil"></i> Edit</span></li>
              <li><a href="<%= new_recette_path %>"><i class="icon-list-alt"></i> Nouvelle recette</a></li>
              <li><a href="<%= signout_path %>"><i class="icon-remove"></i>Se déconnecter</a></li>
            </ul>
          </div>
          <% end %>

        </div>

      </div>
    </div>

    <div class="container">

      <%= flash_message %>

      <%= yield %>
    </div>

  </body>
</html>
